.header {
    position: absolute;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    height: var(--header-height);
    display:flex;
    width: 100vw;
}

.header .icon {
    height: 4rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

.header .icon img {
    height: 3rem;
    width: auto;
}

.signout {
    cursor: pointer;
    margin-left: auto;
    margin-right: 1rem;
    border: 0rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--primary-color);
    height: 100%;
}

.signout:hover {
    filter: brightness(90%);
}