.friend {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.friend h1 {
    color: var(--primary-color);
    margin: 0, 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.buttons {
    height: 100%;
    margin: 0 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.buttons button {
    border: 0px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 3rem;
    width: 9rem;
}

.buttons img {
    border: 0px;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

.buttons button:hover {
    filter: brightness(90%);
}
