.card {
    width: 60%;
    margin: 2rem auto;
    background-color: var(--primary-color);
}

.addfriend {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.addfriend h1 {
    color: var(--primary-color);
    margin: 0, 1rem;
    font-size: 3rem;
    font-weight: bold;
}