.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form label {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.form input {
    border: 1px solid gray;
    border-radius: 0.5rem;
    background-color: #efefef;
    height: 1.5rem;
}

.invalidMessage {
    font-size: 1rem;
    font-weight: 300;
    color: red;
}

.form button {
    border: 0px;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 2rem;
    margin-top: 1.5rem;
}